@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 214, 215;
  --background-rgb: 13, 43, 48;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 214, 215;
    --background-rgb: 13, 43, 48;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  @apply text-5xl font-black text-foreground;
}

h2 {
  @apply text-3xl font-bold;
}

/* Blur effect for links, primarily used on the footer links and hyperlinks.  */
.foregroundBlur {
  text-shadow: 0 0 10px rgba(var(--foreground-rgb), 0.5);
}
.foregroundBlurDark {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pointerNo {
  pointer-events: none;
}
/* border grow on hover  */
.hover-border-effect {
  position: relative;
  overflow: hidden;
}

.hover-border-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.hover-border-effect:hover::before {
  border-color: #38b2ac; /* Adjust the color to match your design */
}


/* Custom Scrollbar. */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background-color: rgb(var(--background-rgb));
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-rgb));
  border-radius: 4px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow:hover {
  position: relative;
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    border-radius: 15px;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#111827, #111827),
      linear-gradient(#111827, #111827), linear-gradient(#111827, #111827),
      linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 15px;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #111827;
  }
}

/* blog code snippets styling  */

/* pre {
	background-color: #111827;
	padding: 10px;
	border-radius: 15px;
	margin: 10px 0 10px 0;
} */

.blogContent {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 20px;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}

.blogContent h1,
.blogContent h2,
.blogContent h3,
.blogContent h4,
.blogContent h5,
.blogContent h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1.2;
}

.blogContent p {
  margin-bottom: 1em;
  padding: 0 0.5em;
}

/* .blogContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
  padding: 0.5em;
} */

.blogContent ul,
.blogContent ol {
  margin: 1em 0;
  padding: 0 1.5em;
}

.blogContent ul li,
.blogContent ol li {
  margin-bottom: 0.5em;
}

.blogContent blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 5px solid #ccc;
  background-color: #f9f9f9;
}

.blogContent code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.blogContent pre {
  overflow: auto;
}

/* .blogContent a {
  color: #007acc;
  text-decoration: none;
  border-bottom: 1px solid #007acc;
} */

/* .blogContent a:hover {
  text-decoration: underline;
} */

/* Responsive adjustments */
@media (max-width: 600px) {
  .blogContent {
    padding: 10px;
  }

  .blogContent p {
    padding: 0;
  }

  .blogContent ul,
  .blogContent ol {
    padding: 0 1em;
  }
}
/* styling for inline `code snippets` */
.blogContent code {
  background-color: #282a36 !important;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}
